.container {
  display: flex;
  flex-direction: column;

  .info {
    width: 100%;
    padding: 1rem;
    font-family: var(--principal-font);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
