.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;

  background-color: var(--primary-color);

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
    // background-color: blue;

    .mennu {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;

      img {
        object-fit: cover;
        // height: 100%;
        width: 2.5rem;
      }
    }

    .mennu:hover {
      transform: scale(1.05);
    }
  }

  .log-cad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    width: 17%;

    .enters-loc {
      color: var(--white);
    }

    .enters {
      color: #000000;
    }

    .enters:hover {
      height: 100%;
      cursor: pointer;
      opacity: 1;
      border-bottom: solid 1px var(--bluish);
    }

    .enters:active {
      box-shadow: 2px 3px 5px var(--primary-color-dif);
      opacity: 0.7;
      transform: scale(1.05);
    }
  }
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;

  .chamada{
    font-family: var(--principal-font);
    font-size: var(--largebutton-font-size);
    font-weight: 400;
  }
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70vh;

  .inserts{
    display: flex;
    width: 80%;
    padding: 2rem ;
    border: solid 1px var(--bluish);
    border-radius: 2rem;

    .fmlr{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: max-content;
      gap: 1rem;


      .first{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .insert{
          display: flex;
          flex-direction: column;
        }

        .ins{
          width: 300px;
          margin-top: 2%;
          height: 4rem;
          font-size: var(--button-font-size);
        }

      }

    }
  }

}


.changes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .login {
    width: 40%;
    height: 3rem;
    border: 0;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 4px 0 #c5c2c2;
    background-color: var(--primary-color);
    transition: 0.3s;
  }

  .login:hover {
    cursor: pointer;
  }

  .login:active {
    box-shadow: 2px 3px 5px var(--primary-color-dif);
  }
}
