<div class="top">
  <div class="menu">
    <button class="mennu" routerLink="/sistemas">
      <img src="../../../assets/icons/back-button.svg" alt="menu" />
    </button>
  </div>
  <div class="log-cad">
    <p class="enters-loc">Meu sistema</p>
    <button [routerLink]="['/home']" class="enters">Sobre nós</button>
  </div>
</div>

<div class="title">
  <h2 class="chamada">Cadastre seu sistema</h2>
</div>

<div class="center">
  <div class="inserts">
    <form class="fmlr">
      <div class="first">
        <div class="insert">
          <label for="nome">Nome</label>
          <input class="ins" type="text" placeholder="Nome do sistema" />
        </div>
        <div class="insert">
          <label for="tamanho">Tamanho do tanque</label>
          <input class="ins" type="number" placeholder="Ex.: 8 litros" />
        </div>
      </div>
      <div class="first">
        <div class="insert">
          <label for="nome">Quantidade de peixes</label>
          <input class="ins" type="number" placeholder="Número de peixes no sistema" />
        </div>
        <div class="insert">
          <label for="tamanho">Código do produto</label>
          <input class="ins" type="number " placeholder="Ex.: 1, 2 ou 3" />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="changes">
  <button class="login" routerLink="/sistemas">Salvar</button>
</div>
