<div class="top">
  <div class="menu">
    <button class="mennu" routerLink="/sistemas">
      <img src="../../../assets/icons/menu.svg" alt="menu" />
    </button>
  </div>
  <div class="log-cad">
    <!-- Nome do sistema -->
    <p class="enters-loc">Meu sistema</p>
    <button [routerLink]="['/home']" class="enters">Sobre nós</button>
  </div>
</div>

<div class="sub-top">
  <h3 class="func-time">Funcionando por "3 meses e 5 dias"</h3>
</div>

<div class="center">
  <div class="infos">
    <p class="nome">"Aquapon Norte"</p>
  </div>
  <div class="infos odometro" echarts #chart [options]="option"></div>
  <div class="infos"></div>
  <div class="infos">
    <p class="limp-alim">Última limpeza</p>
    <p class="limp-time" (click)="openModal()">"8 Dias"</p>
  </div>
  <div class="infos">
    <p class="limp-alim">Alimentação</p>
    <p class="alim-time" >"Há 2 horas"</p>
  </div>
</div>



<div class="foot">
  <img src="../../../assets/icons/logo.svg" alt="logo an">
</div>

<!-- <app-feeding></app-feeding> -->
