.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;

  background-color: var(--primary-color);

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
    // background-color: blue;

    .mennu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;

      img {
        object-fit: cover;
        // height: 100%;
        width: 2.5rem;
      }
    }

    .mennu:hover{
      cursor: pointer;
    }

    .mennu:active{
      transform: scale(1.05);
    }
  }

  .log-cad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    width: 17%;

    .enters-loc {
      color: var(--white);
    }

    .enters {
      color: #000000;
    }

    .enters:hover {
      height: 100%;
      cursor: pointer;
      opacity: 1;
      border-bottom: solid 1px var(--bluish);
    }

    .enters:active {
      box-shadow: 2px 3px 5px var(--primary-color-dif);
      opacity: 0.7;
      transform: scale(1.05);
    }
  }
}

.sub-top{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;

  .func-time{
    height: max-content;
    width: max-content;
    padding: 0.5rem 15%;
    color: var(--white);
    font-size: var(--largebutton-font-size);
    font-family: var(--principal-font);
    font-weight: 400;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
  width: calc(100vw - 1rem);
  margin: 2rem 0.5rem;
  border: solid 1px var(--black);
  border-radius: .5rem;

  .infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: max-content;

    .limp-alim{
      padding-bottom: 1rem;
    }

    .nome{
      width: max-content;
      height: max-content;
      padding: 1rem 0.55rem;
      background-color: var(--secondary-color);
      border-radius: 0.5rem;
      color: var(--white);
    }

    .limp-time{
      width: max-content;
      height: max-content;
      padding: .5rem .75rem;
      background-color: var(--pink);
      border-radius: 0.5rem;
      font-size: var(--button-font-size);
    }

    .alim-time{
      width: max-content;
      height: max-content;
      padding: .5rem .75rem;
      background-color: var(--primary-color);
      border-radius: 0.5rem;
      font-size: var(--button-font-size);
    }
  }

  .odometro{
    width: 20%;
  }
}

.foot {
  display: flex;
  position: fixed;
  width: calc(100vw - 2rem);
  bottom: 0;
  justify-content: flex-end;
}
