.plan {
  display: flex;
  height: 100vh;
  width: 100%;

  background-color: #ffffff;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    height: 100vh;
    width: 50%;

    // background-color: cadetblue;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 12%;
    }

    .interacts {
      display: flex;
      flex-direction: column;

      width: 60%;

      .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 4.5%;
        // margin-bottom: 7%;

        div.inserts {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          height: 100%;
          width: 100%;
          margin-bottom: 4%;

          label.lbl-inpt {
            margin-left: 8px;
          }

          input {
            height: 40px;
          }
        }

        // .inserts2{
        //   margin-bottom: 2px;
        // }

        .forget {
          width: 100%;
          text-align: right;
        }
      }
    }

    .changes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 45px;
      // height: 15%;
      // width: 100%;

      .login {
        width: 97%;
        height: 3rem;
        border: 0;
        border-radius: 10px;
        margin-bottom: 1rem;
        box-shadow: 0 4px 4px 0 #c5c2c2;
        background-color: var(--primary-color);
        transition: 0.3s;
      }

      .login:hover {
        cursor: pointer;
      }

      .login:active {
        box-shadow: 2px 3px 5px var(--primary-color-dif);
      }

      .account {
        width: 97%;
        height: 3rem;
        border: 0;
        border-radius: 10px;
        box-shadow: 0 4px 4px 0 #c5c2c2;
        background-color: var(--secondary-color);
        transition: 0.3s, background-color 0.3s ease;
        transition-delay: 0.1s;
      }

      .account:hover {
        cursor: pointer;
      }

      .account:active {
        box-shadow: 2px 3px 5px var(--secondary-color-dif);
      }
    }

    .rodp {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: auto;
      margin-bottom: 5%;

      p {
        text-align: center;
      }
    }
  }

  .right {
    height: 100vh;
    width: 50%;
    background-image: linear-gradient(to left, transparent 65%, #fff 99%),
      url("../../../assets/bg-home.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
}
