<div class="plan">
  <div class="left">
    <div class="title"><h1>Boas vindas</h1></div>
    <div class="interacts">
      <form [formGroup]="loginForm">
        <div class="inputs">
          <div class="inserts">
            <label class="lbl-inpt" for="email">E-mail</label>
            <input type="text" class="fields" formControlName="email"/>
            <div class="inavalid" *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
              E-mail inválido !
            </div>
          </div>
          <div class="inserts inserts2">
            <label class="lbl-inpt" for="">Senha</label>
            <input type="text" class="fields" formControlName="senha"/>
          </div>
          <div class="forget">
            <p>Esqueci minha sennha</p>
          </div>
        </div>
        <div class="changes">
          <button class="login" routerLink="/sistemas">Entrar</button>
          <button [routerLink]="['/register']" class="account">
            Criar conta
          </button>
        </div>
      </form>
    </div>
    <div class="rodp">
      <p>
        Entre em contato conosco <br />
        Tel: (15) 98989-8818
      </p>
    </div>
  </div>
  <div class="right"></div>
</div>
