<div class="plan">
  <div class="left">
    <div class="title">
      <button class="botao-voltar" routerLink="/home">
        <img
          src="../../../assets/icons/back-button.svg"
          alt="botao de voltar"
          class="back-img"
        />
      </button>
      <div class="title-separet">
        <h1>Junte-se conosco :)</h1>
      </div>
    </div>
    <div class="interacts">
      <div class="inputs">
        <form class="formulario">
        <div class="inserts">
          <label for="">Nome</label>
          <input type="text" placeholder="Insira seu nome" class="fields" />
        </div>
        <div class="inserts">
          <label for="">E-mail</label>
          <input type="text" class="fields" />
        </div>
        <div class="inserts">
          <label for="">Senha</label>
          <input type="password" class="fields" />
        </div>
        <div class="inserts">
          <label for="">Confirme a senha</label>
          <input type="password" class="fields" />
        </div>
        <div class="inserts">
          <label for="">Número de celular</label>
          <div class="ins-cell">
            <input type="text" class="fields ddd" mask="(00)" />
            <input
              type="text"
              class="fields cell"
              mask="00000 - 0000"
            />
          </div>
        </div>
      </form>
      </div>
      <div class="changes">
        <button class="cadastro" routerLink="/sistemas">Cadastrar</button>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>
