.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;

  background-color: var(--primary-color);

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
    // background-color: blue;

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;

      img {
        object-fit: cover;
        // height: 100%;
        width: 2.5rem;
      }
    }
  }

  .log-cad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    width: 17%;

    .enters-loc {
      color: var(--white);
    }

    .enters {
      color: #000000;
    }

    .enters:hover {
      height: 100%;
      cursor: pointer;
      opacity: 1;
      border-bottom: solid 1px var(--bluish);
    }

    .enters:active {
      box-shadow: 2px 3px 5px var(--primary-color-dif);
      opacity: 0.7;
      transform: scale(1.05);
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 4rem);
  padding: 2rem 0 0 2rem;

  .sistemas {
    font-family: var(--principal-font);
    font-size: var(--principal-font-size);
    font-weight: 400;
    width: 95%;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    width: 95%;
    border: solid 1px var(--bluish);
    border-radius: 1rem;
    padding: 2rem;

    .item {
      display: flex;
      align-items: center;
      height: 2rem;
      width: 80%;
      padding: 0 0 0 0.5rem;
      border: solid 1px var(--bluish);
      border-radius: 0.5rem;

      .item-nome {
        height: max-content;
        color: var(--bluish);
      }
    }

    .item:hover {
      cursor: pointer;
    }

    .item:active {
      box-shadow: 3px 2px 3px 0px #0100206b;
    }

    .adic:hover {
      cursor: pointer;
    }
    .adic:active {
      transform: scale(1.05);
      border: none;
    }

    .add {
      width: 40px;
    }
  }
}

.foot {
  display: flex;
  position: fixed;
  width: calc(100vw - 2rem);
  bottom: 0;
  justify-content: flex-end;
}
