<div class="top">
  <div class="menu">
    <button class="mennu">
      <img src="../../../assets/mennu.png" alt="menu" />
    </button>
  </div>
  <div class="log-cad">
    <p class="enters-loc">Meus sistemas</p>
    <button [routerLink]="['/home']" class="enters">Sobre nós</button>
  </div>
</div>

<div class="center">
  <h2 class="sistemas">Sistemas</h2>
  <div class="list">
    <div>
      <div class="item" routerLink="/mysistem"><button class="item-nome">Aquapon norte</button></div>
    </div>
    <button class="adic" routerLink="/newsistema">
      <img class="add" src="../../../assets/icons/Plus.svg" alt="Adicionar sistema ">
    </button>
  </div>
</div>

<div class="foot">
  <img src="../../../assets/icons/logo.svg" alt="logo an">
</div>
