.fishes {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  background-image: url("../../../assets/peixesbghome.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  justify-content: space-between;
  align-items: flex-start;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;

    background-color: var(--primary-color);
    opacity: 0.5;

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 7%;
      // background-color: blue;

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;

        img {
          border-radius: 1.25rem;
          object-fit: cover;
          // height: 100%;
          width: 2.5rem;
        }
      }
    }

    .log-cad {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      height: 100%;
      width: 17%;

      .enters {
        color: #000000;
      }

      .enters:hover {
        height: 100%;
        cursor: pointer;
        opacity: 1;
        border-bottom: solid 1px var(--bluish);
      }

      .enters:active {
        box-shadow: 2px 3px 5px var(--primary-color-dif);
        opacity: 0.7;
        transform: scale(1.05);
      }
    }
  }

  h1 {
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
  }
}

.chamada {
  padding: 1rem;
  font-size: var(--subtitle-font-size);
  margin-bottom: 3%;
}

.equipe {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100%;
  margin-bottom: 3%;
  // background-color: #6f5b32;

  .img-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 50%;
    // background-color: yellow;

    img {
      border-radius: 1.25rem;
      object-fit: cover;
      height: 70%;
      width: 90%;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    // background-color: green;

    .title {
      height: 55;
      width: 100%;

      // background-color: grey;

      p {
        padding: 0.5rem 1rem 1rem 1rem;
        font-size: var(--principal-font-size);
      }
    }
    .junte {
      height: 45%;
      width: 100%;
      // background-color: rgb(122, 79, 79);

      p {
        padding: 1.5rem 1rem 1rem 1rem;
        font-size: var(--subtitle-font-size);
      }
    }
  }
}

.come{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


    .fpbtn {
      width: 30%;
      height: 15vh;
      border: 0;
      border-radius: 10px;
      margin-bottom: 1rem;
      box-shadow: 0 4px 4px 0 #c5c2c2;
      background-color: var(--primary-color);
      font-size: var(--largebutton-font-size);
      transition: 0.3s;
    }

    .fpbtn:hover {
      cursor: pointer;
    }

    .fpbtn:active {
      box-shadow: 2px 3px 5px var(--primary-color-dif);
    }

  }

.rodape{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  img{
    padding-right: 1rem;
    object-fit: cover;
  }
}
