<div class="fishes">
  <div class="top">
    <div class="menu">
      <button class="mennu"><img src="../../../assets/mennu.png" alt="menu" /></button>
    </div>
    <div class="log-cad">
      <button [routerLink]="['/login']" class="enters">Entrar</button>
      <button [routerLink]="['/register']" class="enters">Realizar cadastro</button>
    </div>
  </div>
  <h1>Crie Peixes de forma eficiente e automatizada</h1>
</div>
<p class="chamada">
  Que tal fazer o cultivo de seus peixes de forma que possa produzir mais se
  esforçando menos? Com a gente você consegue !
</p>
<div class="equipe">
  <div class="img-group">
    <img src="/assets/image-do-grupo.jpeg" alt="Foto da equipe reunida" />
  </div>
  <div class="about">
    <div class="title"><p>Uma equipe de confiança e muito bom humor</p></div>
    <div class="junte">
      <p>
        Junte-se conosco, não perca tempo. <br />
        Foram feitos estudos e testes para adequar o projeto para uma melhor
        experiência para você
      </p>
    </div>
  </div>
</div>
<div class="equipe">
  <div class="about">
    <div class="title"><p>Procurando facilidades?</p></div>
    <div class="junte">
      <p>
        Não precisa mais ficar horas e horas trabalhando muito para pouco
        resultado, conosco você gerencia seus sistemas á distância <br />
        Os cuidados que serão necessários, serão baixíssimos
      </p>
    </div>
  </div>
  <div class="img-group">
    <img
      src="../../../assets/homem-sorrindo.png"
      alt="Foto da equipe reunida"
    />
  </div>
</div>
<div class="equipe">
  <div class="about">
    <div class="title"><p>Um pouco sobre nossa trajetória</p></div>
    <div class="junte">
      <p>
        Este vídeo mostra como começamos, nosso primeiro projeto, a primeira
        idealização, onde tudo começou a se formar.
      </p>
    </div>
  </div>
  <div class="img-group">
    <img src="../../../assets/youtube.png" alt="Foto da equipe reunida" />
  </div>
</div>
<div class="come">
  <button class="fpbtn" routerLink="/register">Faça parte</button>
</div>
<div class="rodape">
  <img src="../../../assets/icons/logo.svg" alt="Logo Aquanerdz">
</div>
