/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  // overflow-y: hidden ;

}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
   /*------Colors Styles-------------*/
   --primary-color: #2dcc5f;
   --secondary-color: #C156EB;
   --yellow: #edde32;
   --blue: #5bc1f0;
   --green: #18db97;
   --red: #db2418;
   --pink: #EB57A4;
   --primary-color-dif: #11d44f;
   --secondary-color-dif: #bf1cff;
   /*----------Blacks----------------*/
   --black: #00040F;
   --bluish: #010020;
   --dark-grey: #323141;
   --grey: #585763;
   --light-grey: #8B8A9C;
   --white: #fcffea;

   /*---------Fontes----------*/
   --second-font: "JetBrains Mono", monospace;
   --principal-font: "Josefin Sans", sans-serif;
   --principal-font-size: 80px;
   --warming-font-size: 16px;
   --button-font-size: 20px;
   --largebutton-font-size: 30px;
   --subtitle-font-size: 40px;

}

input{
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  padding-left: 8px;
  box-shadow: 0 4px 4px 0 #c5c2c2;
}


h1{
  font-size: var(--principal-font-size);
  font-family: var(--principal-font);
  font-weight: 400;
  color: var(--bluish);
}

label{
  font-family: var(--second-font);
  font-size: var(--warming-font-size);
}

p{
  font-family: var(--principal-font);
  font-size: var(--button-font-size);
  color: var(--bluish);
}

button{
  font-family: var(--principal-font);
  font-size: var(--button-font-size);
  color: #ffffff;
  background-color: transparent;
  border: none;
}
